<div class="header-container">
  <span class="header-emoji">{{ emoji }}</span>
  <div class="menu-burger" (click)="toggleMenu()">
    <mat-icon>{{ isBurgerMenuOpen ? "close" : "menu" }}</mat-icon>
  </div>
  <div class="menu-items {{ isBurgerMenuOpen ? 'menu-open' : 'menu-close' }}">
    <div [className]="getHeaderItemClasses(0)" (click)="setActiveSection(0)">{{ 'header.home' | translate }}</div>
    <div [className]="getHeaderItemClasses(1)" (click)="setActiveSection(1)">{{ 'header.about' | translate }}</div>
    <div [className]="getHeaderItemClasses(2)" (click)="setActiveSection(2)">{{ 'header.resume' | translate }}</div>
    <div [className]="getHeaderItemClasses(3)" (click)="setActiveSection(3)">{{ 'header.achievements' | translate }}</div>
    <div [className]="getHeaderItemClasses(4)" (click)="setActiveSection(4)">{{ 'header.projects' | translate }}</div>
    <div [className]="getHeaderItemClasses(5)" (click)="setActiveSection(5)">{{ 'header.skills' | translate }}</div>
    <div class="header-item" (click)="toggleLanguageMenu()">
      {{ 'header.languages' | translate }}
      <div *ngIf="showLanguageMenu" class="language-menu menu">
        <span (click)="switchLanguage('fr'); toggleLanguageMenu()">Français 🇫🇷</span>
        <span (click)="switchLanguage('en'); toggleLanguageMenu()">English 🇬🇧</span>
      </div>
    </div>
  </div>
</div>
