.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  position: relative;
  z-index: 30;

  .menu-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    user-select: none;
  }

  .menu-burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  .header-item {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;

    &.active {
      border-radius: 3rem;
    }
  }

  @media (max-width: 1401px) {
    width: 100%;

    .menu-items {
      display: none;
    }

    .menu-burger {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-right: 20px;

      mat-icon {
        font-size: 2rem;
      }
    }

    .menu-open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 1px;
      box-sizing: border-box;
    }
  }
}

.language-menu, .theme-menu, .work-menu {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 1px;
  z-index: 50;

  span {
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
  }

  .active {
    font-weight: bold;
  }
}
