.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 5%;
  box-sizing: border-box;

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;

    @media (max-width: 1000px) {
      margin: 30px;
    }
  }

  .work-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    width: 100%;
    height: 100%;
  }

  .work-links a {
    text-decoration: none;
    width: 80%;
    max-width: 600px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.2s;

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.75) 0 0 20px 1px;
    }

    .tile {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 20px;

      .tile-emoji {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 3rem;
        }
      }

      p {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }
  }
}
