.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  position: relative;
  z-index: 30;

  .menu-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    user-select: none;
  }

  .menu-burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  .header-item {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    &.active {
      border-radius: 3rem;
    }
  }

  .header-emoji {
    font-size: 5rem;
    position: absolute;
    top: -100%;
    left: -27%;
    rotate: -10deg;
    user-select: none;
  }

  @media (max-width: 1401px) {
    width: 100%;

    .header-emoji {
      left: -5%
    }

    .menu-items {
      display: none;
    }

    .menu-burger {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: center;
    }

    .menu-open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 1px;
    }
  }
}

.language-menu {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  width: 10rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 1px;

  span {
    cursor: pointer;
    display: inline-block;
  }
}
