<div class="skills-container">
  <h1>{{ "skills.title" | translate }}</h1>
  <div class="content">
    <section class="category-container">
      @if (programmingLanguages !== []) {
        <app-skills-section
          [skills]="programmingLanguages"
          [name]="'languages'"
        />
      } @else {
        <app-loader></app-loader>
      }
    </section>
    <section class="category-container">
      @if (webTechnologies !== []) {
        <app-skills-section
          [skills]="webTechnologies"
          [name]="'web'"
        />
      } @else {
        <app-loader></app-loader>
      }
    </section>
    <section class="category-container">
      @if (databases !== []) {
        <app-skills-section
          [skills]="databases"
          [name]="'databases'"
        />
      } @else {
        <app-loader></app-loader>
      }
    </section>
    <section class="category-container">
      @if (softwares !== []) {
        <app-skills-section
          [skills]="softwares"
          [name]="'softwares'"
        />
      } @else {
        <app-loader></app-loader>
      }
    </section>
    <section class="category-container">
      @if (services !== []) {
        <app-skills-section
          [skills]="services"
          [name]="'services'"
        />
      } @else {
        <app-loader></app-loader>
      }
    </section>
    <section class="category-container soft-skills">
      @if (soft !== []) {
        <app-skills-section
          [skills]="soft"
          [name]="'soft.title'"
        />
      } @else {
        <app-loader></app-loader>
      }
    </section>
  </div>
</div>
