<div class="school-projects-container">
  <h1>{{ "school_projects.title" | translate }}</h1>
  <div class="content">
    @for (project of projects; track $index) {
      <div class="project-item">
        @if (project.demoLink !== '') {
          <div class="video-container">
            @if (!areLoading[$index]) {
              <iframe
                [src]="project.demoLink | safe"
                allowfullscreen
                title="{{ project.name }}"
              ></iframe>
            } @else {
              <app-loader></app-loader>
            }
          </div>
        }
        <div class="project-info">
          <h2>{{ project.name | translate }}</h2>
          <p>{{ "school_projects.date" | translate }} : {{ project.date }}</p>
          <p>
            {{
              (project.languages.split(",").length === 1
                  ? "school_projects.language"
                  : "school_projects.languages"
              ) | translate
            }}
            : {{ project.languages }}
          </p>
          <p>
            {{ "school_projects.group" | translate }} : {{ project.number }}
            {{
              (project.number === 1
                  ? "school_projects.person"
                  : "school_projects.people"
              ) | translate
            }}
          </p>
          <p>{{ project.description | translate }}</p>
          @if (project.githubLink !== '') {
            <a
              href="{{ project.githubLink }}"
              rel="noopener"
              target="_blank"
            >{{ "school_projects.github-link" | translate }}</a>
          }
          @if (project.documentUrl !== '') {
            <a
              href="{{ project.documentUrl }}"
              rel="noopener"
              target="_blank"
            >{{ "school_projects.report-link" | translate }}</a>
          }
          @if (project.documentUrl === '' && project.githubLink === '') {
            <p>{{ "school_projects.confidential" | translate }}</p>
          }
        </div>
      </div>
    }
    @if (!showArchivedProjects) {
      <button
        class="button-container"
        (click)="seeMoreProjects()"
      >
        <p>{{ "school_projects.see-more" | translate }}</p>
      </button>
    } @else {
      <button
        class="button-container"
        (click)="seeLessProjects()"
      >
        <p>{{ "school_projects.see-less" | translate }}</p>
      </button>
    }
  </div>
</div>
