<div [className]="themeClass">
  <div class="content">
    <div class="glass" data-tilt data-tilt-reverse="true">
      <app-header (sectionChanged)="setActivePage($event)" [activeSectionIndex]="activePage"></app-header>
      <div class="main">
        <app-home *ngIf="activePage === 0"></app-home>
        <app-about *ngIf="activePage === 1"></app-about>
        <app-resume *ngIf="activePage === 2"></app-resume>
        <app-achievements *ngIf="activePage === 3"></app-achievements>
        <app-projects *ngIf="activePage === 4"></app-projects>
        <app-skills *ngIf="activePage === 5"></app-skills>
      </div>
    </div>
    <div class="circle circle1" (click)="switchTheme('dark-theme')"></div>
    <div class="circle circle2" (click)="switchTheme('vibrant-theme')"></div>
    <div class="circle circle3" (click)="switchTheme('dynamic-theme')"></div>
    <div class="circle circle4" (click)="switchTheme('relax-theme')"></div>
  </div>
  <div class="secret">{{ ('theme.' + themeClass) | translate }}</div>
</div>
