@import "../assets/themes/themes.colors";

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
}

app-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  min-height: calc(100svh - 80px - 80px);
}
