.home-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  h1 {
    margin: 100px;
    text-align: center;
    width: 100%;

    @media (max-width: 1000px) {
      margin: 30px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .img-container {
      width: 80%;

      img {
        width: 100%;
      }
    }

    .infos {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      border-radius: 20px;
      border: solid 1px;
      padding: 20px;
      margin: 30px;

      @media (max-width: 1000px) {
        width: 80%;
      }

      p {
        text-align: center;
        font-weight: bold;
        font-size: large;
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 100px;
      margin: 20px;
      text-align: center;

      .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        margin-bottom: 30px;

        .link-circle {
          width: 50px;
          aspect-ratio: 1 / 1;
          border-radius: 50%;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;

            img {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
  }
}
