<div class="home-container">
  <h1>{{ "home.name" | translate }}</h1>
  <div class="content">
    <section class="img-container">
      <img
        class="home-mountains"
        src="assets/images/home-background.png"
        alt="home background - mountains"
      />
    </section>
    <section class="infos">
      <p *ngIf="this.introText">{{ this.introText }}</p>
      <p>{{ "home.roleDescription" | translate }}</p>
    </section>
    <section class="contact">
      <p>{{ "home.contact.serious" | translate }} 😁</p>
      <div class="links">
        <div class="link-circle" *ngFor="let link of socialLinks">
          <a [href]="link.url" rel="noopener noreferrer" target="_blank">
            <img [src]="link.icon" alt="{{ link.name }}" />
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
