<div class="home-container">
  <div class="home-content">
    <h1>{{ 'home.name' | translate }}</h1>
    <div class="img-container">
      <img class="home-mountains" src="assets/images/home-background.png" alt="home background - mountains"/>
    </div>
    <div class="content">
      <div class="tile">
        <p>{{ 'home.role' | translate }}</p>
        <p>{{ 'home.roleDescription' | translate }}</p>
      </div>
      <div class="contact">
        <p>{{ 'home.contact.serious' | translate }}</p>
        <p>{{ 'home.contact.fun' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="links">
    <div class="link-circle" *ngFor="let link of socialLinks">
      <a [href]="link.url" rel="noopener noreferrer" target="_blank">
        <img [src]="link.icon" alt="{{ link.name }}"/>
      </a>
    </div>
  </div>
</div>
