<div class="home-container">
  <h1>{{ "home.name" | translate }}</h1>
  <div class="content">
    <section class="img-container">
      <img
        class="home-mountains"
        src="assets/images/home-background.png"
        alt="home background - mountains"
      />
    </section>
    <section class="infos">
      @if (this.introText) {
        <p>{{ this.introText }}</p>
      }
      <p>{{ "home.roleDescription" | translate }}</p>
    </section>
    <section class="contact">
      <p>{{ "home.contact.serious" | translate }} 😁</p>
      <div class="links">
        @for (link of socialLinks; track $index) {
          <div class="link-circle">
            <a [href]="link.url" rel="noopener noreferrer" target="_blank">
              <img [src]="link.icon" alt="{{ link.name }}" />
            </a>
          </div>
        }
        <div class="link-circle">
          <a
            (click)="this.openContactModal()"
            (keydown.enter)="this.openContactModal()"
            tabindex="0"
          >
            <img src="assets/images/mail-icon.png" alt="email icon" />
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
@if (this.showContactModal) {
  <app-contact-modal
    (closeModal)="this.closeContactModal()"
  ></app-contact-modal>
}
