<div class="projects-container">
  <h1>{{ 'portfolio.title' | translate }}</h1>
  <div class="content">
    <div class="project-item" *ngFor="let project of projects, let i = index">
      <div class="video-container" *ngIf="project.demolink !== ''">
        <iframe src="{{ project.demolink }}" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="project-info">
        <h2>{{ project.name | translate }}</h2>
        <p>{{ project.description | translate }}</p>
        <a *ngIf="project.githublink !== ''" href="{{ project.githublink }}" target="_blank">{{ 'portfolio.github-link' | translate }}</a>
        <a *ngIf="project.documenturl !== ''" href="{{ project.documenturl }}" target="_blank">{{ 'portfolio.report-link' | translate }}</a>
      </div>
    </div>
  </div>
</div>
