<div class="resume-container">
  <section class="left-section">
    <div class="img-container">
      <img
        src="{{ 'resume.preview' | translate }}"
        alt="resume_preview"
        (click)="download_resume()"
        (keyup.enter)="download_resume()"
        (keydown.enter)="download_resume()"
        tabindex="0"
      />
    </div>
  </section>
  <section class="right-section">
    <div class="description">
      <h1>{{ "resume.title" | translate }}</h1>
      <p>{{ "resume.subtitle" | translate }}</p>
    </div>
    <div (click)="download_resume()"
         (keyup.enter)="download_resume()"
         (keydown.enter)="download_resume()"
         class="button-container"
         tabindex="0">
      <img src="assets/images/download.png" alt="download icon"/>
      <p>{{ "resume.download" | translate }}</p>
    </div>
  </section>
</div>
