<div class="education-container">
  <h1>{{ "education.title" | translate }}</h1>
  <div class="content">
    @for (course of education; track $index) {
      <div
        class="course-item"
      >
        <div class="logo-container">
          <img
            [src]="course.schoolLogo"
            alt="Logo {{ course.school }}"
          />
        </div>

        <div class="course-info">
          <h2>{{ course.school }}</h2>
          <a href="{{ course.schoolUrl }}" rel="noopener" target="_blank">{{
              "education.school_url" | translate
            }}</a>
          @for (diploma of course.diplomas; track $index) {
            <div class="diploma-item {{ $index < course.diplomas.length - 1 ? 'has-next' : '' }} {{ $index === 0 ? 'first' : ''}}">
              <p>{{ diploma.description }}</p>
              <p class="bold">{{ diploma.place }}</p>
              <p class="italic">
                {{ "course.date" | translate }} : {{ diploma.date }}
              </p>
              <p>
                {{
                  (diploma.skills.split(",").length === 1
                      ? "course.skill"
                      : "course.skills"
                  ) | translate
                }}
                : {{ diploma.skills }}
              </p>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
