@import "assets/themes/vibrant.theme";
@import "assets/themes/dark.theme";
@import "assets/themes/dynamic.theme";
@import "assets/themes/relax.theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}

.vibrant-theme, .dark-theme, .dynamic-theme {
  height: 100%;
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
