<div class="work-experiences-container">
  <h1>{{ "work_experiences.title" | translate }}</h1>
  <div class="content">
    @for (experience of experiences; track $index) {
      <div
        class="experience-item"
      >
        <div class="logo-container">
          <img
            [src]="experience.companyLogo"
            alt="Logo {{ experience.company }}"
          />
        </div>

        <div class="experience-info">
          <h2>{{ experience.company }}</h2>
          <p>{{ experience.place }}</p>
          <p>
            {{
              (experience.skills.split(",").length === 1
                  ? "work_experiences.skills"
                  : "work_experiences.skills"
              ) | translate
            }}
            : {{ experience.skills }}
          </p>
          <a href="{{ experience.companyUrl }}" rel="noopener" target="_blank">{{
              "work_experiences.company_url" | translate
            }}</a>
          @for (position of experience.positions; track $index) {
            <div class="position-item {{ $index < experience.positions.length - 1 ? 'has-next' : '' }} {{ $index === 0 ? 'first' : ''}}">
              <p class="italic">{{ position.position }}</p>
              <p class="bold">
                {{ "work_experiences.date" | translate }} : {{ position.date }}
              </p>
              <p>{{ position.description }}</p>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
