.work-experiences-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  h1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
    height: 10%;
    width: 70%;
    border-bottom: 2px solid;
    padding-bottom: 25px;

    @media (width <= 1000px) {
      margin: 30px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: min-content;
    width: 90%;

    .experience-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: min(1000px, 90%);
      height: min-content;
      margin: 1rem;

      .logo-container {
        width: 50%;
        height: min-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        img {
          max-width: min(300px, 100%);
          min-height: 100px;
          max-height: min(300px, 100%);
          object-fit: contain;
        }
      }

      .experience-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 50%;
        height: min-content;

        .italic {
          font-style: italic;
        }

        .bold {
          font-weight: bold;
        }

        .position-item.has-next {
          border-bottom: 1px dashed;
          margin-bottom: 1rem;
          padding-bottom: 1rem;
        }

        .position-item.first {
          border-top: 1px dashed;
          margin-top: 2rem;
          padding-top: 1rem;
        }

        h2 {
          text-align: center;
          margin: 0;
        }

        p {
          text-align: center;
        }

        a {
          text-decoration: none;
          text-align: center;
          font-style: italic;

          &:hover {
            text-decoration: underline;
          }
        }

        .work-experience-technologies {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 8px;
          margin-bottom: 20px;
          .technology {
            border-radius: 3rem;
            padding: 5px 15px;
            margin: 0;
            cursor: default;
          }
        }
      }

      @media (width <= 1400px) {
        flex-direction: column;

        .img-container {
          width: 100%;
          min-height: 300px;

        }

        .experience-info {
          width: 90%;
          height: 100%;
        }
      }
    }
  }

  .content > *:not(:last-child) {
    border-bottom: solid 1px;
  }

  @media (width <= 1400px) {
    h1 {
      font-size: 1.2rem;
      height: 15%;
      display: flex;
      align-items: center;
    }

    .content {
      height: 85%;
    }
  }
}
