@import "themes.colors";

.dark-theme {
  background-image: linear-gradient(to right bottom, map-get($dark-theme, 'top'), map-get($dark-theme, 'bottom'));
  color: map-get($dark-theme, 'text');

  .circle {
    background-image: linear-gradient(to right, map-get($dark-theme, 'contrast'), transparentize(map-get($dark-theme, 'contrast'), 0.5));
  }

  .link-circle {
    background-image: linear-gradient(to bottom, map-get($dark-theme, 'contrast'), transparentize(map-get($dark-theme, 'contrast'), 0.5));
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 1px;
  }

  .header-item {
    color: map-get($dark-theme, 'clear');
  }

  .active {
    background-color: map-get($dark-theme, 'contrast');
  }

  .menu {
    background-color: map-get($dark-theme, 'contrast');
    color: map-get($dark-theme, 'clear');
  }

  .menu-open {
    background-image: linear-gradient(to right bottom, map-get($dark-theme, 'contrast'), map-get($dark-theme, 'bottom'));
    color: map-get($dark-theme, 'clear');

    .active {
      background-color: map-get($dark-theme, 'clear');
      color: map-get($dark-theme, 'contrast');
    }
  }

  .tile {
    background-color: map-get($dark-theme, 'tile');
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 1px;
  }
}
