@use "sass:color";
@use "sass:map";
@import "themes.colors";

.html-dark-theme {
  background-image: linear-gradient(to right bottom, map.get($dark-theme, 'top'), map.get($dark-theme, 'bottom'));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark-theme {
  background-image: linear-gradient(to right bottom, map.get($dark-theme, 'top'), map.get($dark-theme, 'bottom'));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: map.get($dark-theme, 'text');

  .secret {
    color: map.get($dark-theme, 'clear');
  }

  .circle {
    background-image: linear-gradient(to right, map.get($dark-theme, 'contrast'), color.adjust(map.get($dark-theme, 'contrast'), $alpha: -0.5));
  }

  .link-circle {
    background-image: linear-gradient(to bottom, map.get($dark-theme, 'contrast'), color.adjust(map.get($dark-theme, 'contrast'), $alpha: -0.5));
    box-shadow: rgb(0 0 0 / 25%) 0 0 20px 1px;
  }

  .header-item {
    color: map.get($dark-theme, 'clear');
  }

  .active {
    background-color: map.get($dark-theme, 'contrast');
  }

  .menu {
    background-color: map.get($dark-theme, 'contrast');
    color: map.get($dark-theme, 'clear');

    .active {
      background-color: map.get($dark-theme, 'clear');
      color: map.get($dark-theme, 'contrast');
    }
  }

  .menu-open {
    background-image: linear-gradient(to right bottom, map.get($dark-theme, 'contrast'), map.get($dark-theme, 'bottom'));
    color: map.get($dark-theme, 'clear');

    .active {
      background-color: map.get($dark-theme, 'clear');
      color: map.get($dark-theme, 'contrast');
    }
  }

  .tile {
    background-color: map.get($dark-theme, 'tile');
    box-shadow: rgb(0 0 0 / 25%) 0 0 20px 1px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: map.get($dark-theme, 'contrast');

    &:hover {
      background-color: color.adjust(map.get($dark-theme, 'contrast'), $lightness: -20%);
    }
  }

  .button-container {
    p {
      color: map.get($dark-theme, 'clear');
    }

    background-color: map.get($dark-theme, 'contrast');
    border: 0;
  }

  .loader {
    border-color: map.get($dark-theme, 'contrast');
  }

  a {
    color: map.get($dark-theme, 'text');
  }

  .soft-skills {
    img {
      filter: invert(13%) sepia(62%) saturate(3760%) hue-rotate(269deg) brightness(80%) contrast(137%);
    }
  }

  .home-mountains {
    filter: invert(13%) sepia(62%) saturate(3760%) hue-rotate(269deg) brightness(80%) contrast(137%);
  }

  .contact-modal {
    background-color: map.get($dark-theme, 'contrast');
    color: map.get($dark-theme, 'text');

    .form-group {
      input,textarea {
        color: map.get($dark-theme, 'text');
        border-color: map.get($dark-theme, 'text');

        &:focus {
          outline: color.adjust(map.get($dark-theme, 'contrast'), $lightness: 10%) solid 1px;
        }
      }
    }

    button[type="submit"] {
      background-color: map.get($dark-theme, 'text');
      color: map.get($dark-theme, 'contrast');

      &:hover {
        background-color: color.adjust(map.get($dark-theme, 'text'), $lightness: -10%);
        color: map.get($dark-theme, 'contrast');
      }

      &:disabled {
        background-color: color.adjust(map.get($dark-theme, 'contrast'), $lightness: 10%);
        color: color.adjust(map.get($dark-theme, 'text'), $lightness: -20%)
      }

      &:disabled &:hover {
        background-color: color.adjust(map.get($dark-theme, 'contrast'), $lightness: 10%);
        color: color.adjust(map.get($dark-theme, 'text'), $lightness: -20%)
      }
    }

    .close-button {
      color: map.get($dark-theme, 'text');
    }
  }

  .school-project-technologies, .work-experience-technologies, .education-technologies {
    .technology {
      background-color: map.get($dark-theme, 'contrast');
      color: map.get($dark-theme, 'clear');
    }
  }
}
