$black-theme: (
  top: #121212,
  bottom: #000000,
  text: #E0E0E0,
  contrast: #333333,
  clear: #E0E0E0,
  tile: #333333
);

$dark-theme: (
  top: #150050,
  bottom: #000000,
  text: #F8F1F1,
  contrast: #3F0071,
  clear: #F8F1F1,
  tile: #3F0071
);

$dynamic-theme: (
  top: #3498DB,
  bottom: #2980B9,
  text: #FFFFFF,
  contrast: #F1C40F,
  clear: #FFFFFF,
  tile: #F1C40F
);

$light-theme: (
  top: #dadada,
  bottom: #FFFFFF,
  text: #333333,
  contrast: #CCCCCC,
  clear: #333333,
  tile: #E0E0E0
);
