$vibrant-theme: (
  top: #E57C23,
  bottom: #e8aa42,
  text: #025464,
  contrast: #025464,
  clear: #F8F1F1,
  tile: #FFFFFF
);

$dark-theme: (
  top: #150050,
  bottom: #000000,
  text: #F8F1F1,
  contrast: #3F0071,
  clear: #F8F1F1,
  tile: #3F0071
);

$dynamic-theme: (
  top: #3F497F,
  bottom: #539165,
  text: #3F497F,
  contrast: #F7C04A,
  clear: #F8F5E4,
  tile: #F7C04A
);

$relax-theme: (
  top: #2A2F4F,
  bottom: #917FB3,
  text: #2A2F4F,
  contrast: #E5BEEC,
  clear: #FDE2F3,
  tile: #E5BEEC
);
