@import "themes.colors";

.vibrant-theme {
  background-image: linear-gradient(to right bottom, map-get($vibrant-theme, 'top'), map-get($vibrant-theme, 'bottom'));
  color: map-get($vibrant-theme, 'text');

  .secret {
    color: map-get($vibrant-theme, 'clear');
  }

  .circle {
    background-image: linear-gradient(to right, map-get($vibrant-theme, 'contrast'), transparentize(map-get($vibrant-theme, 'contrast'), 0.5));
  }

  .link-circle {
    background-image: linear-gradient(to bottom, map-get($vibrant-theme, 'contrast'), transparentize(map-get($vibrant-theme, 'contrast'), 0.5));
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 1px;
  }

  .header-item {
    color: map-get($vibrant-theme, 'clear');
  }

  .active {
    background-color: map-get($vibrant-theme, 'contrast');
  }

  .menu {
    background-color: map-get($vibrant-theme, 'contrast');
    color: map-get($vibrant-theme, 'clear');
  }

  .menu-open {
    background-image: linear-gradient(to right bottom, map-get($vibrant-theme, 'contrast'), map-get($vibrant-theme, 'bottom'));
    color: map-get($vibrant-theme, 'clear');

    .active {
      background-color: map-get($vibrant-theme, 'clear');
      color: map-get($vibrant-theme, 'contrast');
    }
  }

  .tile {
    background-color: map-get($vibrant-theme, 'tile');
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px 1px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: map-get($vibrant-theme, 'contrast');
    transition: ease-in-out 0.2s;

    &:hover {
      background-color: darken(map-get($vibrant-theme, 'contrast'), 10%);
    }
  }

  .button-container {
    background-image: linear-gradient(to right bottom, map-get($vibrant-theme, 'contrast'), map-get($vibrant-theme, 'bottom'));

    p {
      color: map-get($vibrant-theme, 'clear');
    }
  }

  .loader {
    border-color: map-get($vibrant-theme, 'contrast');
  }

  a {
    color: map-get($vibrant-theme, 'text');
  }

  .skills-images {
    background-color: map-get($vibrant-theme, 'contrast');

    .skill {
      a {
        color: map-get($vibrant-theme, 'clear');
      }
    }
  }

  .home-mountains {
    filter: invert(22%) sepia(19%) saturate(4836%) hue-rotate(159deg) brightness(100%) contrast(98%);
  }
}
